NODE_ENV=development
PORT=3000

NEXT_TELEMETRY_DISABLED=1

# -----------------------------------------------------------------------
# OAuth Providers
# -----------------------------------------------------------------------
load_secret NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID github-client-id
load_secret GITHUB_OAUTH_CLIENT_SECRET github-client-secret

load_secret NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID google-client-id
load_secret GOOGLE_OAUTH_CLIENT_SECRET google-client-secret

# -----------------------------------------------------------------------
# CloudFlare
# -----------------------------------------------------------------------
load_secret CLOUDFLARE_TURNSTILE_KEY cloudflare-turnstile-key

# -----------------------------------------------------------------------
# Stripe
# -----------------------------------------------------------------------
load_secret STRIPE_PUBLISHABLE_KEY stripe-publishable-key
load_secret STRIPE_SECRET_KEY stripe-secret-key
# load_secret STRIPE_WEBHOOK_SECRET stripe-webhook-secret