dotenv_if_exists
source_env_if_exists .envrc.local

use_secret_profile scsys

export NODE_ENV=development
export PORT=3000

export NEXT_TELEMETRY_DISABLED=1

## ----- [CLOUDFLARE] -----
load_secret CF_TURNSTILE_SITE_KEY cf-turnstile-site-key

## ----- [GITHUB] -----
load_secret NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID github-oauth-client-id
load_secret GITHUB_OAUTH_CLIENT_SECRET github-oauth-client-secret

## ----- [GOOGLE] -----
load_secret NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID google-oauth-client-id
load_secret GOOGLE_OAUTH_CLIENT_SECRET google-oauth-client-secret