# Language Specific

## Node.js
**/.DS_STORE
**/build
**/node_modules

**/*.tsbuildinfo

### Dependencies
**/.pnp
**/.pnp.*

**/.yarn/install-state.gz

### Frameworks

#### Next.js
**/.next
**/out

**/next-env.d.ts

### Package Manager
**/yarn-error.log

## Python
**/__pycache__
**/.pytest_cache
**/venv

## Rust
**/target

**/Cargo.lock

**/*.rs.bk
**/*.rs.bk.*

# Miscellaneous

## Development

### Configuration

#### Custom Configurations
**/.config/*.config.*

#### dotenv
**/.env.*
**/*.env
**/*.env.*

!**/.env.default*
!**/*default.env

!**/*.env.example
!**/*.env.example.*

!**/*.example.env
!**/*.example.env.*

### IDE

#### Atom
**/.atom

#### JetBrains
**/.idea

**/*.iml
**/*.ipr
**/*.iws

#### Visual Studio Code
**/.vscode

!**/.vscode/settings.json

### Integrations

#### Supabase
**/supabase/temp

#### Vercel
**/.vercel

## Directories
**/build
**/debug
**/dist
**/release

### testing
**/coverage

## File Extensions
**/*.bak
**/*.bak.*

**/*.bk
**/*.bk.*

**/*.db

**/*.lock
**/*-lock.json

**/*.log
**/*.log.*

**/*.pem

**/*.gz

**/*.sqlite

**/*.zip

## Operating Systems

### NixOs
!**/flake.lock

### Windows

#### Windows Subsystem for Linux (WSL)
**/*:Zone.identifier

# OpenNext build output
.open-next
